@import "tailwindcss";

@theme {
  --color-primary-900: #111827;
  /* main bg */
  --color-primary-800: #1f2937;
  /* card bg */
  --color-primary-600: #2563eb;
  /* buttons */
  --color-accent: #38bdf8;
}

body {
  @apply bg-gray-900 text-gray-100;
  font-family: 'Inter', system-ui, sans-serif;
}